# Environment Variables Example for QAS Audit App
ENVIRONMENT=development
APP_VERSION=1.0.0
ACCESS_TEAM_DOMAIN=
ACCESS_AUD=
JWT_DEV_SECRET=
VITE_API_URL=
MAIL_API_KEY=
MAIL_PROVIDER_URL=https://api.resend.com/emails
MAIL_FROM_ADDRESS=QAS Logistics <onboarding@resend.dev>
